{% extends "user/layout.html" %}

{% block title %}Make a Reservation{% endblock %}

{% block content %}


    <div class="w-50 mx-auto p-4 border rounded bg-white shadow-sm">
        
        <h2>Please make a reservation</h2>
        <form method="post" action="/user/new-reservation" class="w-50 mx-auto mt-5 p-4 border rounded bg-white shadow-sm">
            {% if request.query_params.get("success") %}
            <div class="alert alert-success">Reservation created</div>
            {% endif %}
            {% if request.query_params.get("exists") %}
            <div class="alert alert-danger">Reservation already exists.</div>
            {% endif %}
            {% if request.query_params.get("error") %}
            <div class="alert alert-danger">Reservation failed. Please try again.</div>
            {% endif %}
            <label class="form-label">Location</label>
            <select name="pickup_location_id" class="form-select">
                {% for location in locations %}
                  <option value="{{ location.location_id }} ~ {{ location.address }}">{{ location.location_id }} - {{ location.address }}</option>
                {% endfor %}
            </select>
            <label class="form-label">Car Class</label>
            <select name="class_name" class="form-select">
                {% for car_class in car_classes %}
                  <option value="{{ car_class }}">{{ car_class }}</option>
                {% endfor %}
            </select>
            <div class="mb-3">
                <label class="form-label">Pickup Date & Time</label>
                <input type="text" class="form-control" id="pickup_date_time" name="pickup_date_time">
            </div>
            <div class="mb-3">
                <label class="form-label">Return Date & Time</label>
                <input type="text" class="form-control" id="return_date_time" name="return_date_time">
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
{% endblock %}
{% block script %}
<script>

    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("#pickup_date_time", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            time_24hr: false
        })
    });

    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("#return_date_time", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            time_24hr: false
        })
    });

</script>

{% endblock %}
